<h1>The Simpsons</h1>
<% if @greeting != nil %>
<h4>Bart says: <%= @greeting %></h4>
<% end %>
<p>Find me in app/views/characters/index.html.erb</p>
<table class='table-hover'>
  <tr><th class='col-md-2'>First</th>
    <th class='col-md-2'>Last</th>
    <th class='col-md-2'>Works At</th>
    <th class='col-md-2'>Actions</th>
  </tr>
  <% @characters.each do |c| %>
  <tr>
    <!-- <td class='col-md-2'><a><%=c.first_name%></a></td> -->
    <td class='col-md-2'><a href="characters/<%=c.id%>"><%=c.first_name%></a></td>
    <td class='col-md-2'><%=c.last_name%></td>
    <td class='col-md-2'><%=c.workplace%></td>
    <td class='col-md-2'>
      <a data-method="DELETE" href="characters/<%=c.id%>">Delete Character</a>
      <!-- <form data-method='DELETE' action='/characters/<%=c.id%>'>
        <input type='hidden' name='authenticity_token' value="<%=form_authenticity_token%>" />
        <button class='btn-xs btn-danger' type=submit>Delete Character</button>
      </form> -->
    </td>
  </tr>
  <% end %>
</table>
<a class='btn btn-primary' href="/characters/new">Add New Character</a>
