<!DOCTYPE html>
<html>
  <head>
    <title>Bartman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'two_cols', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" rel="stylesheet" />

  </head>

  <body>
    <div class='container'>
      <div class='left' style="display: inline-block; width: 45%; border: 1px solid black">
      <%= yield :left %>
    </div>
    <div class='right' style="display: inline-block; width: 45%; border: 1px solid black">
    <%= yield :right %>
  </div>
  <p>
    <%= link_to "Home",root_path %>
  </p>  
  </body>
</html>
